In [1]:
#importing regular expression library
import re

In [2]:
#using re.match 
#to find the first occurrence of the letter 'I' in the string 
 
sentence1 = re.match (r'I', 'I am learning text analytics') 
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [3]:
#using re.match 
#to find the first occurrence of the letter 'v' in the string 
 
sentence2 = re.match (r'v', 'I am learning text analytics') 
print (sentence2)

None

In [4]:
#using re.match 
#to find the first occurrence of the letter 'am' in the string 
 
sentence3 = re.match (r'am', 'I am learning text analytics') 
print (sentence3)

None

In [6]:
#using re.search
#to find anywhere in the string the occurance of the letter 'am'
sentence4 = re.search(r'am', 'I am learning text analytics')  
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [7]:
#using re.search
#to find anywhere in the string the FIRST occurance of the letter 'am'
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence5)

<re.Match object; span=(2, 4), match='am'>

In [8]:
#using re.findall
#to find anywhere in the string all the occurance of the letter 'am'
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence6)

['am', 'am']

In [9]:
#using re.split
#to split a string by the occurrence of a given pattern 'and'
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [10]:
#using re.split
#to split a string by the occurrence of a given pattern 'am'
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [11]:
#using re.split
#to split a string by the occurrence of a given pattern 'am' ONCE
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [12]:
#using re.split
#to split a string by the occurrence of a given pattern 'am' TWICE
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [13]:
#using re.split
#to split a string by the occurrence of a given pattern 'am' THRICE
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

In [14]:
#using re.sub
#to find the occurrence of a given pattern in a string and replace with
#a new value
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)

we like text analytics and we enjoy learning it

In [15]:
#using re.findall
#to find any character in a string including spaces EXCEPT new line
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1)

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [17]:
#using re.findall
#to find any character in a string EXCEPT spaces and new line
sentence2 = re.findall (r'\w', 'I am learning text analytics') 
print (sentence2)

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [18]:
#using re.findall
#to find any character with 0 or more including spaces
sentence4 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence4)

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [19]:
#using re.findall
#to find any character with 1 or more EXCEPT spaces
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4)

['I', 'am', 'learning', 'text', 'analytics']

In [20]:
#using re.findall
#to find the first word
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5)

['I']

In [21]:
#using re.findall
#to find the last word
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6)

['analytics']

In [22]:
#using re.findall
#to find the 2 consecutive letters are selected
sentence7 = re.findall (r'\w\w', 'I am learning text analytics') 
print (sentence7)

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [23]:
#using re.findall
#to find the 2 consecutive letters in each word
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics') 
print (sentence8)

['am', 'le', 'te', 'an']

In [24]:
#using re.findall
#to find the FIRST domain name of each email
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence9)

['@text', '@analytics', '@textanalytics']

In [25]:
#using re.findall
#to find the 2 domain name of each email
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [26]:
#using re.findall
#to find the ENTIRE domain name of each email
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence11)

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [30]:
#using re.findall
#to find the type of domain of each email
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence12)

['com.my', 'gov.my', 'edu.my']

In [31]:
#using re.findall
# To display the date in the format of dd-mm-yy 
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13)

['15-05-20', '20-08-20']

In [33]:
#using re.findall
# To display the date in the format of dd-mm-yyyy 
sentence13 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13)

['15-05-2001', '20-08-2000']

In [34]:
#using re.findall
# To display ONLY the year
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15)

['2001', '2000']

In [35]:
#using re.findall
#A sequence that starts with a vowel followed by one o rmore characters are selected 
sentence16 = re.findall (r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence16)

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [36]:
#using re.findall
# Only words that start with vowels are selected 
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence17)

['eight', 'often', 'in', 'afternoon']

In [37]:
#using re.findall
# Only words that start with non-vowels are selected 
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence18)

['have', 'story', 'books', 'read', 'them']

In [38]:
#using re.split
# split the words based on the delimiters semi colon and comma
sentence19 = re.split (r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence19)

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [39]:
#using re.split
# split the words based on the delimiters semi colon, comma and space 
sentence20 = re.split (r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence20)

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

In [40]:
#using re.split
# Substitute the delimiters semi colon and comma with fullstop
sentence21 = re.sub (r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence21)

I have many story books. colouring books. I often read them in the afternoon.